@use "../../utils/utils";

.thumbnail {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
    figure {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        @include utils.font(18px, 700);
        color: white;
    }
}