@use '../../utils/utils';

.thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;

  @media screen and (min-width: 1380px) {
    width: 340px;
    height: 340px;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  figcaption {
    position: absolute;
    bottom: 6%;
    left: 6%;
    width: 50%;
    padding: 5px 0 5px 5px;
    border-radius: 5px;
    @include utils.font(18px, 700);
    color: white;
    background: rgba(228, 228, 228, 0.2);
    background: linear-gradient(
      90deg,
      rgba(170, 170, 170, 1) 0%,
      rgba(228, 228, 228, 0.1) 100%
    );
  }
}
