@use '../../utils/utils';

.housing {
  @include utils.large-screen {
    margin-top: 50px !important;

    > div:nth-child(2) {
      margin: 40px 0 24px 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &__titleLocationTags {
    h1 {
      @include utils.font(18px, 500);
      color: #ff6060;
      line-height: 26px;
      margin-top: 40px;

      @include utils.large-screen {
        @include utils.font(36px, 500);
        color: #ff6060;
        margin-top: 0;
      }
    }
    p {
      @include utils.font(14px, 500);
      margin: 15px 0;

      @include utils.large-screen {
        @include utils.font(18px, 500);
        margin-bottom: 25px;
      }
    }
  }
  &__ratingHost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 12px 0;

    @include utils.large-screen {
      margin: 0;
      flex-direction: column-reverse;
    }

    &__Host {
      display: flex;
      align-items: center;

      @include utils.large-screen {
        justify-content: flex-end;
        width: 100%;
        gap: 10px;
      }

      p {
        display: inline-block;
        width: 50px;
        margin-right: 10px;
        @include utils.font(12px, 500);
        color: #ff6060;
        text-align: end;
        line-height: 17px;

        @include utils.large-screen {
          @include utils.font(18px, 500);
          color: #ff6060;
        }
      }
      img {
        width: 32px;
        height: auto;
        border-radius: 50%;

        @include utils.large-screen {
          width: 64px;
        }
      }
    }
  }
  .description_equipement {
    @include utils.large-screen {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 78px;

      .dropdown__title {
        @include utils.font(18px, 700);
        color: white;
      }

      > div {
        width: 100%;
      }
    }
  }
}
