@use '../../utils/utils';

.slideshow {
  position: relative;
  max-width: 1240px;
  height: 255px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;

  @media screen and (min-width: 576px) and (max-width: 992px) {
    height: 335px;
    border-radius: 18px;
  }

  @media screen and (min-width: 992px) {
    height: 415px;
    border-radius: 25px;
  }

  img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  .arrow {
    position: absolute;
    font-size: 20px;
    color: white;
    cursor: pointer;

    @media screen and (min-width: 576px) and (max-width: 992px) {
      font-size: 50px;
    }

    @media screen and (min-width: 992px) {
      font-size: 80px;
    }

    &__left {
      left: 6px;

      @media screen and (min-width: 576px) and (max-width: 992px) {
        left: 15px;
      }

      @media screen and (min-width: 992px) {
        left: 24px;
      }
    }
    &__right {
      right: 6px;

      @media screen and (min-width: 576px) and (max-width: 992px) {
        right: 15px;
      }

      @media screen and (min-width: 992px) {
        right: 24px;
      }
    }
  }
}
