@use '../../utils/utils';

.rental_list {
  display: grid;
  grid: auto / 1fr;
  gap: 20px;

  @media screen and (min-width: 576px) and (max-width: 992px) {
    grid: auto / repeat(2, 1fr);
    gap: 2%;
    border-radius: 25px;
  }
  @media screen and (min-width: 992px) {
    grid: auto / repeat(3, 1fr);
    padding: 6%;
    gap: 3%;
    background-color: #f6f6f6;
    border-radius: 25px;
  }
}
