@use "../../utils/utils";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 27px 20px;
    img {
        height: 47px;
    }
    ul {
        display: flex;
        justify-content: flex-end;
    }
    li:first-of-type {
        padding-right: 26px;

        @include utils.large-screen {
            padding-right: 55px;
        }
    }
    a {
        @include utils.font(12px, 500);

        &:hover {
            text-decoration: underline;
        }
        @include utils.large-screen {
            font-size: 24px;
        }
    }
}