@use "../../utils/utils";

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-around;
    }

    a{
        @include utils.font(24px, 500);

        &:first-child {
            padding-right: 55px;
        }

        &:hover{
            text-decoration: underline;
        }
    }
}