@mixin font($font-size: 18px, $font-weight: 400){
    font: {
        family: 'Montserrat',  sans-serif;
        size: $font-size;
        weight: $font-weight;
    }
    color: black;
}

@mixin small-screen{
    @media (max-width: 720px){
        @content;
    }
}