@use "../../utils/utils";

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 66px 0 58px 0;
    @include utils.font(12px, 500);
    color: white;

    @include utils.large-screen {
        @include utils.font(24px, 500);
        padding-bottom: 30px;
    }
    p {
        width: 110px;

        @include utils.large-screen {
            font-size: 24px;
            width: auto;
            padding-top: 50px;
        }
    }
}