@use "./utils/utils";
@use "./utils/reset_css";
@use "./pages/Housing/housing";
@use "./components/header/header";
@use "./components/error/error";
@use "./components/banner/banner";
@use "./components/rental_list/rental_list";
@use "./components/thumbnail/_thumbnail.scss";
@use "./components/footer/footer";
@use "./components/Dropdown/dropdown";
@use "./components/slideshow/slideshow";
@use "./components/tags/tags";
@use "./components/Rating/rating";

a {
    text-decoration: none;
}
.main_container {
    width: 90%;
    margin: 0 auto 27px auto;

    @include utils.large-screen {
        margin-bottom: 50px;
    }
}